# Environment
NODE_ENV=
PORT=
DATABASE_URL=
API_KEY=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Cloudflare
CLOUDFLARE_ENDPOINT=
CLOUDFLARE_PUBLIC_URL=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=